from pymongo import MongoClient

db = MongoClient("mongodb://localhost:27017/")["pixly"]

HYPIXEL_API_KEY = ""
DISCORD_BOT_TOKEN = ""

CLIENT_ID = 123
CLIENT_SECRET = ""

MAIN_SERVER_ID = 123
MEMBER_ROLE_ID = 123

SPECIAL_UUIDS = ["a5038efffd8f4851b07d573826d2158b", "905cae2b95f14ba7ab7655478fbe5c48", "78ce34d098034572b2c56fd85bcc5858"]

# irrelevant stuff for now.
REDIRECT_URI = "http://localhost:8000/callback"
LOGIN_URL = f"https://discord.com/oauth2/authorize?client_id={CLIENT_ID}&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fcallback&scope=identify+guilds"
INVITE_LINK = f"https://discord.com/oauth2/authorize?client_id={CLIENT_ID}&permissions=8&scope=bot+applications.commands"

CURRENCY_SYMBOLS = {
    "USD": "$",
    "EUR": "€",
    "GBP": "£",
    "JPY": "¥",
    "CNY": "¥",
    "INR": "₹",
    "CAD": "CA$",
    "AUD": "AU$",
    "CHF": "CHF",
    "SEK": "kr",
    "NZD": "NZ$",
    "MXN": "Mex$",
    "SGD": "S$",
    "HKD": "HK$",
    "NOK": "kr",
    "KRW": "₩",
    "TRY": "₺",
    "RUB": "₽",
    "BRL": "R$",
    "ZAR": "R",
    "TWD": "NT$",
    "DKK": "kr",
    "PLN": "zł",
    "THB": "฿",
    "IDR": "Rp",
    "HUF": "Ft",
    "CZK": "Kč",
    "ILS": "₪",
    "CLP": "CLP$",
    "PHP": "₱"
}

EMOJI_SERVERS = [] # update to your own emoji servers if you want to use emojis xx

SPECIAL_HOTM_TYPES = ["mining_speed_boost", "vein_seeker", "maniac_miner", "pickaxe_toss", "special_0", "gifts_from_the_departed", "hazardous_miner"]
HOTM_TREE_MAPPING = [
	[
		{
			"type":"gemstone_infusion",
			"maxLevel": 3,
			"name": "Gemstone Infusion"
		},
		{
			"type":"gifts_from_the_departed",
			"maxLevel": 100,
			"name": "Gifts From The Departed"
		},
		{
			"type":"frozen_solid",
			"maxLevel": 1,
			"name": "Frozen Solid"
		},
		{
			"type":"hungry_for_more",
			"maxLevel": 50,
			"name": "Dead Man's Chest"
		},
		{
			"type":"excavator",
			"maxLevel": 50,
			"name": "Excavator"
		},
		{
			"type":"rags_of_riches",
			"maxLevel": 50,
			"name": "Rags to Riches"
		},
		{
			"type":"hazardous_miner",
			"maxLevel": 3,
			"name": "Hazardous Miner"
		}
	],
	[
		{"type":"empty"},
		{
			"type":"surveyor",
			"maxLevel": 20,
			"name": "Surveyor"
		},
		{"type":"empty"},
		{
			"type":"subzero_mining",
			"maxLevel": 100,
			"name": "SubZero Mining"

		},
		{"type":"empty"},	
		{
			"type":"eager_adventurer",
			"maxLevel": 100,
			"name": "Eager Adventurer"
		},
		{"type":"empty"}       
	],
	[
		{"name": 'Keen Eye', "maxLevel": 1, "type": "keen_eye"},
		{"name": 'Warm Hearted', "maxLevel": 50, "type": "warm_hearted"},
		{"name": 'Dust Collector', "maxLevel": 20, "type": "dust_collector"},
		{"name": 'Daily Grind', "maxLevel": 100, "type": "daily_grind"},
		{"name": 'Strong Arm', "maxLevel": 100, "type": "strong_arm"},
		{"name": 'No Stone Unturned', "maxLevel": 50, "type": "no_stone_unturned"},
		{"name": 'Mineshaft Mayhem', "maxLevel": 1, "type": "mineshaft_mayhem"}
	],
	[
		{"type":"empty"},
		{
			"type":"mining_speed_2",
			"maxLevel": 50,
			"name": "Mining Speed II"
		},
		{"type":"empty"},
		{
			"type":"powder_buff",
			"maxLevel": 50,
			"name": "Powder Buff"
		},
		{"type":"empty"},
		{
			"type":"mining_fortune_2",
			"maxLevel": 50,
			"name": "Mining Fortune II"
		},
		{"type":"empty"}
	],
	[
		{
			"type":"vein_seeker",
			"maxLevel": 1,
			"name": "Vein Seeker"
		},
		{
			"type":"lonesome_miner",
			"maxLevel": 45,
			"name": "Lonesome Miner"
		},
		{
			"type":"professional",
			"maxLevel": 140,
			"name": "Professional"
		},
		{
			"type":"mole",
			"maxLevel": 190,
			"name": "Mole"
		},
		{
			"type":"fortunate",
			"maxLevel": 20,
			"name": "Fortunate"
		},
		{
			"type":"great_explorer",
			"maxLevel": 20,
			"name": "Great Explorer"
		},
		{
			"type":"maniac_miner",
			"maxLevel": 1,
			"name": "Maniac Miner"
		}
	],
	[
		{"type":"empty"},
		{
			"type":"goblin_killer",
			"maxLevel": 1,
			"name": "Goblin Killer"
		},
		{"type":"empty"},
		{
			"type":"special_0",
			"maxLevel": 7,
			"name": "Peak Of The Mountain"
		},
		{"type":"empty"},
		{
			"type":"star_powder",
			"maxLevel": 1,
			"name": "Star Powder"
		},
		{"type":"empty"}
	],
	[
		{
			"type":"daily_effect",
			"maxLevel": 1,
			"name": "Sky Mall"
		},
		{
			"type":"mining_madness",
			"maxLevel": 1,
			"name": "Mining madness"
		},
		{
			"type":"mining_experience",
			"maxLevel": 100,
			"name": "Seasoned Mineman"
		},
		{
			"type":"efficient_miner",
			"maxLevel": 100,
			"name": "Efficient Miner"
		},
		{
			"type":"experience_orbs",
			"maxLevel": 80,
			"name": "Orbiter"
		},
		{
			"type":"front_loaded",
			"maxLevel": 1,
			"name": "Front Loaded"
		},
		{
			"type":"precision_mining",
			"maxLevel": 1,
			"name": "Precision Mining"
		}
	],
	[
		{"type":"empty"},
		{
			"type":"random_event",
			"maxLevel": 45,
			"name": "Luck Of The Cave"
		},
		{"type":"empty"},
		{
			"type":"daily_powder",
			"maxLevel": 100,
			"name": "Daily Powder"
		},
		{"type":"empty"},
		{
			"type":"fallen_star_bonus",
			"maxLevel": 30,
			"name": "Crystallized"
		},
		{"type":"empty"}
	],
	[
		{"type":"empty"},
		{
			"type":"mining_speed_boost",
			"maxLevel": 1,
			"name": "Mining Speed Boost"
		},
		{
			"type":"titanium_insanium",
			"maxLevel": 50,
			"name": "Titanium Insanium"
		},
		{
			"type":"mining_fortune",
			"maxLevel": 50,
			"name": "Mining Fortune"
		},
		{
			"type":"forge_time",
			"maxLevel": 20,
			"name": "Quick Forge"
		},
		{
			"type":"pickaxe_toss",
			"maxLevel": 1,
			"name": "Pickobulus"
		},
		{"type":"empty"}
	],
	[
		{"type":"empty"},
		{"type":"empty"},
		{"type":"empty"},
		{
			"type":"mining_speed",
			"maxLevel": 50,
			"name": "Mining Speed"
		},
		{"type":"empty"},
		{"type":"empty"},
		{"type":"empty"}
	]
]
HOTM_TREE_EMOJIS = {
    "empty": "<:empty:1236755746335621181>",
    "selected_ability": "<a:selected_ability:1236747686611255357>",
    "ability": "<:emerald_block:1236755744540463196>",
    "unlocked_path": "<:emerald:1236755743127113839>",
    "peak": "<:redstone_block:1236755424452284507>",
    "maxed_path": "<:diamond:1236755801977127023>",
    "locked_path": "<:coal:1236755797048823943>",
    "locked_ability": "<:coal_block:1236755798617624576>"
}

RARITY_ORDER = ["MYTHIC", "LEGENDARY", "EPIC", "RARE", "UNCOMMON", "COMMON"]
RARITY_EMOJIS = {
   "COMMON": "<:common:1236752835694170142>",
   "UNCOMMON": "<:uncommon:1236752379467006042>",
   "RARE": "<:rare:1236752376501633164>",
   "EPIC": "<:epic:1236752380981284925>",
   "LEGENDARY": "<:legendary:1236752373334937651>",
   "MYTHIC": "<:mythic:1236752374908059738>"
}
COLOR_CODES = ["&a", "&b", "&c", "&d", "&e", "&f", "&0", "&1", "&2", "&3", "&4", "&5", "&6", "&7", "&8", "&9", "&r", "&l", "&o", "&n", "&m", "&k"]

RIFT_EMOJIS = {
   "vampiric": "<a:vampiric_timecharm:1236747525881331783>",
   "slime": "<a:globulate_timecharm:1236747527441747989>",
   "lazy_living": "<a:living_timecharm:1236747529505476741>",
   "citizen": "<a:skyblock_citizen_timecharm:1236747531266949202>",
   "chicken_n_egg": "<a:chicken_n_egg_timecharm:1236747533691125769>",
   "mirrored": "<a:mirrorverse_timecharm:1236747535582756894>",
   "wyldly_supreme": "<a:supreme_timecharm:1236747537335980124>",
   "eye": "<:eye:1236755752417492992>",
   "enigma_soul": "<:enigma_soul:1236755749011591179>",
   "timecharms": "<a:chicken_n_egg_timecharm:1236747533691125769>",
   "burger": "<:YjqhfWIYnR3wbLJS:1236495457786663013>",
   "rift_guide": "<:wIgFUETCPfPxVyM6:1236430993926389771>",
   "prism": "<:KsLEXhgBiB38WGCn:1236491897753698366>",
   "motes": "<:pinkdye:1236755501631668304>"
}
TIMECHARM_NAMES = {
   "vampiric": "Vampiric Timecharm",
   "slime": "Globulate Timecharm",
   "lazy_living": "Living Timecharm",
   "citizen": "Skyblock Citizen Timecharm",
   "chicken_n_egg": "Chicken N Egg Timecharm",
   "mirrored": "mrahcemiT esrevrorriM",
   "wyldly_supreme": "Supreme Timecharm"
}
TIMECHARM_ORDER = [
   "vampiric",
   "slime",
   "lazy_living",
   "citizen",
   "chicken_n_egg",
   "mirrored",
   "wyldly_supreme"
]

SLAYER_EMOJIS = {
    "zombie": "<:rev_slayer:1236748511127670946>",
    "spider": "<:spider_slayer:1236748512830689300>",
    "wolf": "<:wolf_slayer:1236748516701769799>",
    "enderman": "<:enderman_slayer:1236748518513705013>",
    "blaze": "<a:blaze_slayer:1236747415667609711>",
    "vampire": "<:vamp_slayer:1236748514910797895>"
}
SLAYER_NAMES = {
    "zombie": "Revenant Horror",
    "spider": "Tarantula Broodmother",
    "wolf": "Sven Packmaster",
    "enderman": "Voidgloom Seraph",
    "blaze": "Inferno Demonlord",
    "vampire": "Riftstalker Bloodfiend"
}

MEDAL_DATA = {
    "diamond": {
        "gold": 1,
        "silver": 1,
    },
    "platinum": {
        "gold": 1,
        "bronze": 1
    },
    "gold": {
        "gold": 1
    },
    "silver": {
        "silver": 1
    },
    "bronze": {
        "bronze": 1
    }
}

# i would like to thank skycrypt even more

accessoryUpgrades = [
  ["WOLF_TALISMAN", "WOLF_RING"],
  ["POTION_AFFINITY_TALISMAN", "RING_POTION_AFFINITY", "ARTIFACT_POTION_AFFINITY"],
  ["FEATHER_TALISMAN", "FEATHER_RING", "FEATHER_ARTIFACT"],
  ["SEA_CREATURE_TALISMAN", "SEA_CREATURE_RING", "SEA_CREATURE_ARTIFACT"],
  ["HEALING_TALISMAN", "HEALING_RING"],
  ["CANDY_TALISMAN", "CANDY_RING", "CANDY_ARTIFACT", "CANDY_RELIC"],
  ["INTIMIDATION_TALISMAN", "INTIMIDATION_RING", "INTIMIDATION_ARTIFACT", "INTIMIDATION_RELIC"],
  ["SPIDER_TALISMAN", "SPIDER_RING", "SPIDER_ARTIFACT"],
  ["RED_CLAW_TALISMAN", "RED_CLAW_RING", "RED_CLAW_ARTIFACT"],
  ["HUNTER_TALISMAN", "HUNTER_RING"],
  ["ZOMBIE_TALISMAN", "ZOMBIE_RING", "ZOMBIE_ARTIFACT"],
  ["BAT_TALISMAN", "BAT_RING", "BAT_ARTIFACT"],
  ["BROKEN_PIGGY_BANK", "CRACKED_PIGGY_BANK", "PIGGY_BANK"],
  ["SPEED_TALISMAN", "SPEED_RING", "SPEED_ARTIFACT"],
  ["PERSONAL_COMPACTOR_4000", "PERSONAL_COMPACTOR_5000", "PERSONAL_COMPACTOR_6000", "PERSONAL_COMPACTOR_7000"],
  ["PERSONAL_DELETOR_4000", "PERSONAL_DELETOR_5000", "PERSONAL_DELETOR_6000", "PERSONAL_DELETOR_7000"],
  ["SCARF_STUDIES", "SCARF_THESIS", "SCARF_GRIMOIRE"],
  ["CAT_TALISMAN", "LYNX_TALISMAN", "CHEETAH_TALISMAN"],
  ["SHADY_RING", "CROOKED_ARTIFACT", "SEAL_OF_THE_FAMILY"],
  ["TREASURE_TALISMAN", "TREASURE_RING", "TREASURE_ARTIFACT"],
  [
    "BEASTMASTER_CREST_COMMON",
    "BEASTMASTER_CREST_UNCOMMON",
    "BEASTMASTER_CREST_RARE",
    "BEASTMASTER_CREST_EPIC",
    "BEASTMASTER_CREST_LEGENDARY",
  ],
  [
    "RAGGEDY_SHARK_TOOTH_NECKLACE",
    "DULL_SHARK_TOOTH_NECKLACE",
    "HONED_SHARK_TOOTH_NECKLACE",
    "SHARP_SHARK_TOOTH_NECKLACE",
    "RAZOR_SHARP_SHARK_TOOTH_NECKLACE",
  ],
  ["BAT_PERSON_TALISMAN", "BAT_PERSON_RING", "BAT_PERSON_ARTIFACT"],
  ["LUCKY_HOOF", "ETERNAL_HOOF"],
  ["WITHER_ARTIFACT", "WITHER_RELIC"],
  ["WEDDING_RING_0", "WEDDING_RING_2", "WEDDING_RING_4", "WEDDING_RING_7", "WEDDING_RING_9"],
  ["CAMPFIRE_TALISMAN_1", "CAMPFIRE_TALISMAN_4", "CAMPFIRE_TALISMAN_8", "CAMPFIRE_TALISMAN_13", "CAMPFIRE_TALISMAN_21"],
  ["JERRY_TALISMAN_GREEN", "JERRY_TALISMAN_BLUE", "JERRY_TALISMAN_PURPLE", "JERRY_TALISMAN_GOLDEN"],
  ["TITANIUM_TALISMAN", "TITANIUM_RING", "TITANIUM_ARTIFACT", "TITANIUM_RELIC"],
  ["BAIT_RING", "SPIKED_ATROCITY"],
  [
    "MASTER_SKULL_TIER_1",
    "MASTER_SKULL_TIER_2",
    "MASTER_SKULL_TIER_3",
    "MASTER_SKULL_TIER_4",
    "MASTER_SKULL_TIER_5",
    "MASTER_SKULL_TIER_6",
    "MASTER_SKULL_TIER_7",
  ],
  ["SOULFLOW_PILE", "SOULFLOW_BATTERY", "SOULFLOW_SUPERCELL"],
  ["ENDER_ARTIFACT", "ENDER_RELIC"],
  ['NIBBLE_CHOCOLATE_STICK', 'SMOOTH_CHOCOLATE_BAR', 'RICH_CHOCOLATE_CHUNK', 'GANACHE_CHOCOLATE_SLAB', 'PRESTIGE_CHOCOLATE_REALM'],
  ['POWER_TALISMAN', 'POWER_RING', 'POWER_ARTIFACT', 'POWER_RELIC'],
  ["BINGO_TALISMAN", "BINGO_RING", "BINGO_ARTIFACT", "BINGO_RELIC"],
  ["BURSTSTOPPER_TALISMAN", "BURSTSTOPPER_ARTIFACT"],
  ["ODGERS_BRONZE_TOOTH", "ODGERS_SILVER_TOOTH", "ODGERS_GOLD_TOOTH", "ODGERS_DIAMOND_TOOTH"],
  ["GREAT_SPOOK_TALISMAN", "GREAT_SPOOK_RING", "GREAT_SPOOK_ARTIFACT"],
  ["DRACONIC_TALISMAN", "DRACONIC_RING", "DRACONIC_ARTIFACT"],
  ["BURNING_KUUDRA_CORE", "FIERY_KUUDRA_CORE", "INFERNAL_KUUDRA_CORE"],
  ["VACCINE_TALISMAN", "VACCINE_RING", "VACCINE_ARTIFACT"],
  ["WHITE_GIFT_TALISMAN", "GREEN_GIFT_TALISMAN", "BLUE_GIFT_TALISMAN", "PURPLE_GIFT_TALISMAN", "GOLD_GIFT_TALISMAN"],
  ["GLACIAL_TALISMAN", "GLACIAL_RING", "GLACIAL_ARTIFACT"],
  ["CROPIE_TALISMAN", "SQUASH_RING", "FERMENTO_ARTIFACT"],
  ["KUUDRA_FOLLOWER_ARTIFACT", "KUUDRA_FOLLOWER_RELIC"],
  ["AGARIMOO_TALISMAN", "AGARIMOO_RING", "AGARIMOO_ARTIFACT"],
  ["BLOOD_DONOR_TALISMAN", "BLOOD_DONOR_RING", "BLOOD_DONOR_ARTIFACT"],
  ["LUSH_TALISMAN", "LUSH_RING", "LUSH_ARTIFACT"],
  ["ANITA_TALISMAN", "ANITA_RING", "ANITA_ARTIFACT"],
  ["PESTHUNTER_BADGE", "PESTHUNTER_RING", "PESTHUNTER_ARTIFACT"],
]

ignoredAccessories = [
  "BINGO_HEIRLOOM",
  "LUCK_TALISMAN",
  "TALISMAN_OF_SPACE",
  "RING_OF_SPACE",
  "MASTER_SKULL_TIER_8",
  "MASTER_SKULL_TIER_9",
  "MASTER_SKULL_TIER_10",
  "COMPASS_TALISMAN",
  "ARTIFACT_OF_SPACE",
  "GRIZZLY_PAW",
  "ETERNAL_CRYSTAL",
  "OLD_BOOT",
  "ARGOFAY_TRINKET",
  "DEFECTIVE_MONITOR",
  "PUNCHCARD_ARTIFACT",
  "HARMONIOUS_SURGERY_TOOLKIT",
  "CRUX_TALISMAN_1",
  "CRUX_TALISMAN_2",
  "CRUX_TALISMAN_3",
  "CRUX_TALISMAN_4",
  "CRUX_TALISMAN_5",
  "CRUX_TALISMAN_6",
  "WARDING_TRINKET",
  "RING_OF_BROKEN_LOVE",
  "GARLIC_FLAVORED_GUMMY_BEAR",
  "GENERAL_MEDALLION",
]

ACCESSORY_ALIASES = {
  "WEDDING_RING_0": ["WEDDING_RING_1"],
  "WEDDING_RING_2": ["WEDDING_RING_3"],
  "WEDDING_RING_4": ["WEDDING_RING_5", "WEDDING_RING_6"],
  "WEDDING_RING_7": ["WEDDING_RING_8"],
  "CAMPFIRE_TALISMAN_1": ["CAMPFIRE_TALISMAN_2", "CAMPFIRE_TALISMAN_3"],
  "CAMPFIRE_TALISMAN_4": ["CAMPFIRE_TALISMAN_5", "CAMPFIRE_TALISMAN_6", "CAMPFIRE_TALISMAN_7"],
  "CAMPFIRE_TALISMAN_8": ["CAMPFIRE_TALISMAN_9", "CAMPFIRE_TALISMAN_10", "CAMPFIRE_TALISMAN_11", "CAMPFIRE_TALISMAN_12"],
  "CAMPFIRE_TALISMAN_13": [
    "CAMPFIRE_TALISMAN_14",
    "CAMPFIRE_TALISMAN_15",
    "CAMPFIRE_TALISMAN_16",
    "CAMPFIRE_TALISMAN_17",
    "CAMPFIRE_TALISMAN_18",
    "CAMPFIRE_TALISMAN_19",
    "CAMPFIRE_TALISMAN_20",
  ],
  "CAMPFIRE_TALISMAN_21": [
    "CAMPFIRE_TALISMAN_22",
    "CAMPFIRE_TALISMAN_23",
    "CAMPFIRE_TALISMAN_24",
    "CAMPFIRE_TALISMAN_25",
    "CAMPFIRE_TALISMAN_26",
    "CAMPFIRE_TALISMAN_27",
    "CAMPFIRE_TALISMAN_28",
    "CAMPFIRE_TALISMAN_29",
  ],
  "PARTY_HAT_CRAB": ["PARTY_HAT_CRAB_ANIMATED", "PARTY_HAT_SLOTH"],
  "DANTE_TALISMAN": ["DANTE_RING"],
}

extraAccessories = []

SPECIAL_ACCESSORIES = {
  "BOOK_OF_PROGRESSION": {
    "allowsRecomb": False,
    "rarities": ["uncommon", "rare", "epic", "legendary", "mythic"],
    "customPrice": True,
  },
  "PANDORAS_BOX": {
    "allowsRecomb": False,
    "rarities": ["uncommon", "rare", "epic", "legendary", "mythic"],
    "customPrice": True,
  },
  "TRAPPER_CREST": {
    "rarities": ["uncommon"],
    "customPrice": True,
  },
  "PULSE_RING": {
    "rarities": ["rare", "epic", "legendary"],
    "customPrice": True,
    "upgrade": {
      "item": "THUNDER_IN_A_BOTTLE",
      "cost": {
        "rare": 3,
        "epic": 20,
        "legendary": 100,
      },
    },
  },
  "POWER_RELIC": {
    "rarities": ["epic"],
    "customPrice": True,
  },
  "RIFT_PRISM": {
    "allowsRecomb": False,
  },
  "HOCUS_POCUS_CIPHER": {
    "allowsEnrichment": False,
  },
}


def getAllAccessories():
    output = []
    items = db["items"].find_one({"_id": 1})["data"]
    for item in items:
        item = items[item]
        if item['id'] in ignoredAccessories:
            continue

        if any(item['id'] in list for list in ACCESSORY_ALIASES.values()):
            continue

        accessory = {
            **item,
            'item_id': item['item_id'],
        }
        output.append(accessory)

        specialAccessory = SPECIAL_ACCESSORIES.get(item['id'])
        if specialAccessory and 'rarities' in specialAccessory:
            for rarity in specialAccessory['rarities']:
                accessory = {
                    **item,
                    **specialAccessory,
                    'tier': rarity,
                }
                output.append(accessory)

    output.extend(extraAccessories)
    return output

def get_max_accessories():
    all_accessories = getAllAccessories()
    max_accessories = []

    for item in all_accessories:
        list = next((list for list in accessoryUpgrades if item['id'] in list), None)

        if list is None or list[-1] == item['id']:
            max_accessories.append(item)

    return max_accessories

# UNIQUE_ACCESSORIES_COUNT = len(set(item['id'] for item in get_max_accessories()))

MAGICAL_POWER = {
  "common": 3,
  "uncommon": 5,
  "rare": 8,
  "epic": 12,
  "legendary": 16,
  "mythic": 22,
  "special": 3,
  "very_special": 5,
}

# RECOMBABLE_ACCESSORIES_COUNT = len(set(item['id'] for item in get_max_accessories() if SPECIAL_ACCESSORIES.get(item['id'], {}).get('allowsRecomb', True)))

def get_upgrade_list(id):
    return next((list for list in accessoryUpgrades if id in list), None)

RARITIES = [
  "common",
  "uncommon",
  "rare",
  "epic",
  "legendary",
  "mythic",
  "divine",
  "supreme",
  "special",
  "very_special",
  "admin",
]